body {
    display: grid;
    place-content: center;
    height: 100vh;
    font-family: sans-serif;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    border: solid;
    max-width: 18rem;
}

img {
    max-width: 18rem;
}

.card-content {
    text-align: center;
}

h1 {
    text-transform: uppercase;
}