:root {
    --hero-height: 60vh;
    --hero-max-height: 500px;
    --container-width: 58rem;
    --dark: #333333;
    --light: #F4F1E6;
    --yellow: #FFC857;
    --green: #1C4A3D;
    --card-width: 300px;
}
.container {
    width: min(100vw - 3rem, var(--container-width));
    margin-inline: auto;
    font-family: "Montserrat", serif;
    line-height: 1.6rem;
    text-align: center;
    font-weight: 600;
}
body {
    background-color: var(--dark);
}
.hero {
    display: grid;
    grid-template-areas: "hero";
    place-items: center;
    height: var(--hero-height);
    max-height: var(--hero-max-height);

    background-color: rgba(0, 0, 0, 0.5);
}

.hero > * {
    grid-area: hero;
}

.hero-content {
    z-index: 1;
    text-align: center;
    font-family: "Playfair display", serif;
    color: var(--light);
}
.hero-content > h1 {
    font-size: 5rem;
}
.hero-content > P {
    font-size: 1.6rem;
}
.hero > img {
    z-index: -1;
    object-fit: cover;
    height: min(var(--hero-height), var(--hero-max-height));
    width: 100%;
}

.landingpagecontent {
    color: var(--light);
    margin-top: 2rem;
}

.text-yellow {
    color: var(--yellow)
}

.button {
    background-color: var(--green);
    display: inline-block;
    padding: 12px 15px;
    transition-duration: 0.5s;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--light);
}
.button:hover {
    background-color: var(--light);
    color: var(--green);
}

.card {
    background-color: var(--green);
    max-width: var(--card-width);
    padding: 1rem;
}
.card > img {
    max-width: var(--card-width);
    
}
.card-content {
    margin-top: 10px;
    color: var(--light);
}
.card-content > h1{
    font-family: "Playfair display", serif;
    color: var(--yellow);
    font-size: 2rem;
    line-height: 2.5rem;
}
.card-group {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    place-content: center;
}