:root {
    --hero-height: 60vh;
    --hero-max-height: 500px;
    --container-width: 58rem;
    --dark: #333333;
    --light: #F4F1E6;
    --yellow: #FFC857;
    --green: #1C4A3D;
    --card-width: 300px;
}
.container {
    width: min(100vw - 3rem, var(--container-width));
    margin-inline: auto;
    font-family: "Montserrat", sans-serif;
    line-height: 1.6rem;
    text-align: center;
    font-weight: 600;
    color: var(--light);
}
body {
    background-color: var(--dark);
    margin: 0;
}
.hero {
    display: grid;
    grid-template-areas: "hero";
    place-items: center;
    height: var(--hero-height);
    max-height: var(--hero-max-height);

    background-color: rgba(0, 0, 0, 0.5);
}

.hero > * {
    grid-area: hero;
}

.hero-content {
    z-index: 1;
    text-align: center;
    font-family: "Playfair display", serif;
    color: var(--light);
    font-size: 1.6rem;
}
.header1 {
    font-size: 5rem;
    font-family: "Playfair display", serif;
}
.header2 {
    font-size: 2rem;
}
.bodytext {
    font-size: 1rem;
}
.textyellow {
    color: var(--yellow);
}
.hero > img {
    z-index: -1;
    object-fit: cover;
    height: min(var(--hero-height), var(--hero-max-height));
    width: 100%;
}

.landingpagecontent {
    color: var(--light);
    margin-top: 2rem;
}

.button {
    background-color: var(--green);
    display: inline-block;
    padding: 12px 15px;
    transition-duration: 0.5s;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--light);
    font-family: "Playfair display", serif;
}
.button:hover {
    background-color: var(--light);
    color: var(--green);
}

.card {
    background-color: var(--green);
    max-width: var(--card-width);
    padding: 1rem;
}
.card > img {
    max-width: var(--card-width);
    
}
.card-content {
    margin-top: 10px;
    color: var(--light);
}
.card-content > h1{
    font-family: "Playfair display", serif;
    color: var(--yellow);
    line-height: 2.5rem;
}
.card-group {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    place-content: center;
}

.landingpagefooter {
    background-color: var(--green);
    font-family: "Montserrat", sans-serif;
}

.landingpagefooter > ul {
    display: flex;
    place-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 0;
    padding-top: 1rem;
    font-size: 1.2rem;
}

.landingpagefooter > p {
    text-align: center;
    color: var(--light);
    margin: 0;
    padding: 1rem;
}

.footernav > a {
    color: var(--yellow);
    text-decoration: none;
}

.footernav > a:hover {
    color: var(--light);
}

.gpcontent {
    margin-top: 5rem;
}

.colorlist {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin-bottom: 5rem;

    li {
        aspect-ratio: 1;
        width: 10rem;
        display: grid;
        place-items:center;
        border: 1px solid var(--light);
    }
}

.green {
    background-color: var(--green);
}
.yellow {
    background-color: var(--yellow);
    color: var(--dark);
}
.light {
    background-color: var(--light);
    color: var(--dark);
}

.map {
    border: 10px solid var(--green);
    max-width: 40vw;
    aspect-ratio: 1.5/1;
    margin: auto;
}
iframe {
    width: 100%;
    height: 100%;
}

.teamlist {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-around;
    width: 600px;
    max-width: 90vw;
    margin: auto;
}

.headshot {
    img {
        max-width: 100px;
    }
}